
// page colors 
$primary-color: linear-gradient(to bottom right, #7f2505, #996e36);
// $background-color: radial-gradient(#5c5b5b, #585858, #333333);



// text colors
$dark-text: rgb(247, 252, 252);
$light-text: #F5F5F5;

// fonts
$text-font: 'Roboto', sans-serif;
$title-font: 'Arial', cursive;

$footer-height: 50px;
