@import "../../sass/variable.scss";

.homeBox {
    background-color:rgba(0, 0, 0, 0.747);
    color:white;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    font-family: $text-font;
    text-shadow: 0px 0 rgb(255, 251, 251), 0 1px rgb(243, 84, 10), 0px 0 rgb(231, 11, 11), 0 0px rgb(236, 11, 11);
        #userTitle {
        font-family: $title-font;
        text-align: center;
        font-size: 60px;
        
    }
    .cookBtn {
        text-align: center;
        color: white;
        
    }
    #homeAccount{
        font-family: $title-font;
        text-align: center;
        }
    button {
        font-size: 1.3em;
        font-weight: bold;
    }
    .spriteBox {
        text-align: center;
    }

    .sprite-bounce {
        position: relative;
        text-align: center;
        padding: 25px;
        margin-right: auto;
        margin-left: auto;
        -moz-animation: bounce 1s infinite linear;
        -o-animation: bounce 1s infinite linear;
        -webkit-animation: bounce 1s infinite linear;
        animation: bounce 1s infinite linear;
        width: 400px; 
        height: 100%; 
    }


    img {
        width: 200px; 
        height: 100%; 
    }
   
}
@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

.process-box {
    box-shadow: 0px 1px 5px 3px #f9f9f9;
    background: $white;
    border: 1px solid rgba(89, 96, 130, 0.1);
    padding: 30px 25px 25px;
    &:hover {
      .bg-icon {
        transform: scale(2.5) rotate(5deg);
        transition: all 0.3s ease;
      }
    }
    .bg-icon {
      opacity: 0.05;
      transform: scale(2.5) rotate(15deg);
      position: absolute;
      left: 80px;
      bottom: 60px;
      transition: all 0.3s ease;
    }
    p {
      margin-bottom: 0;
    }
    img {
      height: 60px;
    }
    h3 {
      margin-top: 30px;
    }
  }