
.card {
    flex: 1;
    min-width: 200px
}

.cards-slider {
    position: relative;
    max-width: 226px;
    margin: 0 auto

}

.cards-slider-wrapper {
    display: flex;
    position: absolute; /* relative to the card-slide */
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* border for active element */
.cards-slider::after {
    content: "";
    display: block;
    width: 88%;
    height: 413px;
    outline: 5px solid black;
    position: absolute;
    top: 0;
    left: 0;
}


