.search-bar {
	margin: 20px;
	text-align: center;
}

.search-bar input {
	width:75%;
}

.video-item img {
	max-width: 64px;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	color: white;
	font-size: 18px;
	margin-bottom: 300px;
}

#videoTitle {
	font-size: 23px
}

.list-group-item {
	cursor: pointer;
}


.list-group-item:hover {
	background-color: #eee;
}

.media-heading {
	padding: 0px 10px;
}

#header {
	/* text-decoration-line: underline; */
	border: 1px solid gray;
	text-align: center;
	border-radius: 4px;
}

